node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/cdn

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE and Editor files
.idea/
.fleet/
.parcel-cache/
*.iml
*.iws
*.ipr
.vscode/
*.swp
*.swo

# Build and cache
.svelte-kit/
.cache/
dist/

# Wiki scrapes
*RuneScape Wiki*
*runescape wiki*

# Misc
*.md
!README.md
